@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Shippori+Mincho:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Shippori Mincho", "Noto Serif TC", serif;
  --font-sans: "Noto Sans TC", "system-ui", sans-serif;
}

body {
  background-color: #f5f3ee;
  color: #333333;
  font-family: var(--font-sans);
}
